/vendor/
/node_modules/
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/install.zip
/storage/update.zip
/public/build
bootstrap/compiled.php
app/storage/
public_html/storage
public_html/hot
.env
.env.backup
.env.production
.phpunit.result.cache
.phpactor.json
auth.json
Homestead.yaml
Homestead.json
/.vagrant
npm-debug.log
yarn-error.log
.DS_Store
/Modules/Gateways
/.idea
/.vscode
